<md-subheader class="md-primary">Update a Travel Idea</md-subheader>
<section ng-init="$ctrl.loadTravelIdea()">
    <form class="update-travel-idea-form" name="updateTravelIdeaForm" ng-submit="$ctrl.updateTravelIdea()" novalidate>
        <div class="travel-idea-title-input">
            <md-input-container class="md-icon-float md-block">
                <md-icon md-svg-icon="title"></md-icon>
                <label>Title</label>
                <input name="Title" ng-model="Title" type="text" required>
                <div ng-messages="createTravelIdeaForm.Title.$error" ng-hide="showHints">
                    <div ng-message="required" ng-show="createTravelIdeaForm.Title.$error.required">Please enter a value for this field.</div>
                    <div ng-message="server">{{formErrors.Title}}</div>
                </div>
            </md-input-container>
        </div>
        <div class="travel-idea-destination-input" layout="row" layout-align=" start">
            <md-icon class="md-autocomplete-icon" md-svg-icon="location"></md-icon>
            <md-autocomplete flex required
                             md-input-name="Destination"
                             md-input-minlength="2"
                             md-selected-item="$ctrl.selectedDestination"
                             md-search-text="$ctrl.searchDestinationText"
                             md-items="item in $ctrl.searchDestination($ctrl.searchDestinationText)"
                             md-item-text="item.display"
                             md-require-match
                             md-floating-label="Destination"
                             md-delay="500">
                <md-item-template>
                    <span md-highlight-text="$ctrl.searchDestinationText">{{item}}</span>
                </md-item-template>
                <div class="validation-messages" ng-messages="createTravelIdeaForm.Destination.$error" ng-hide="showHints">
                    <div ng-message="required" ng-show="createTravelIdeaForm.Destination.$error.required">Please enter a value for this field.</div>
                    <div ng-message="minlength">Your entry is not long enough.</div>
                    <div ng-message="server">{{formErrors.Destination}}</div>
                </div>
            </md-autocomplete>
        </div>
        <div>
            <md-input-container>
                <label>Start Date</label>
                <md-datepicker name="From" ng-model="From" required></md-datepicker>
                <div ng-messages="updateTravelIdeaForm.From.$error" ng-hide="showHints">
                    <div ng-message="valid" ng-show="updateTravelIdeaForm.From.$error.vakud">Please enter a valid date.</div>
                    <div ng-message="required" ng-show="updateTravelIdeaForm.From.$error.required">Please enter a date for this field.</div>
                    <div ng-message="server">{{formErrors.From}}</div>
                </div>
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <label>End Date</label>
                <md-datepicker name="To" ng-model="To" required></md-datepicker>
                <div ng-messages="updateTravelIdeaForm.To.$error" ng-hide="showHints">
                    <div ng-message="valid" ng-show="updateTravelIdeaForm.To.$error.valid">Please enter a valid date.</div>
                    <div ng-message="required" ng-show="updateTravelIdeaForm.To.$error.required">Please enter a date for this field.</div>
                    <div ng-message="server">{{formErrors.To}}</div>
                </div>
            </md-input-container>
        </div>
        <div>
            <md-input-container class="md-block md-input-has-placeholder">
                <label>Content</label>
                <textarea ui-tinymce="tinymceOptions" name="ContentRTF" ng-model="ContentRTF" md-select-on-focus required></textarea>
                <div ng-messages="updateTravelIdeaForm.ContentRTF.$error" ng-hide="showHints">
                    <div ng-message="required" ng-show="updateTravelIdeaForm.ContentRTF.$error.required">Please enter a value for this field.</div>
                    <div ng-message="server">{{formErrors.ContentRTF}}</div>
                </div>
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <label>Tags</label>
                <md-chips ng-model="Tags"
                      md-enable-chip-edit="true"></md-chips>
                <div ng-messages="updateTravelIdeaForm.Tags.$error" ng-hide="showHints">
                    <div ng-message="server">{{formErrors.Tags}}</div>
                </div>
            </md-input-container>
        </div>
        <div>
            <md-button class="md-raised" type="button" href="#list-travel-ideas">Cancel</md-button>
            <md-button class="md-raised" type="submit">Submit</md-button>
        </div>
    </form>
</section>