﻿<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>WeTravel</title>
  <link rel="icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="we_travel_icon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css"/>
  <link rel="stylesheet" href="./assets/app.css"/>
</head>

<body id="bodyId" ng-cloak layout="column" ng-controller="AppController as app" ng-init="app.init()">

  <!-- Container #1 (see wireframe) -->
  <md-toolbar layout="row" class="md-toolbar-tools" md-scroll-shrink>
      <md-button class="menu md-icon-button" ng-click="app.toggleSideMenu()"
                 aria-label="Show Side Menu"
                 ng-hide="app.$mdMedia('gt-sm')">
        <md-icon md-svg-icon="menu"></md-icon>
      </md-button>
      <img class="wetravel-icon" src="we_travel_icon.png"/>
      <h1>WeTravel</h1>
  </md-toolbar>
  <md-progress-linear id="progress-bar" class="md-accent" md-mode="indeterminate" ng-disabled="!app.$rootScope.progress"></md-progress-linear>

  <!-- Container #2 -->
  <div id="main" flex layout="row">

    <!-- Container #3 -->
    <md-sidenav class="md-whiteframe-4dp"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')"
                md-whiteframe="4"
                ng-click="app.toggleSideMenu()">
      <md-toolbar class="md-toolbar-tools md-theme-indigo">
        <div layout="column">
          <md-icon flex md-svg-icon="account_circle"/>
        </div>
        <div flex layout-padding>{{app.isLoggedIn()}}</div>
      </md-toolbar>
      <md-menu-content>
        <md-menu-item flex ng-if="app.isLoggedIn()">
          <md-button class="md-3-line" href="#list-travel-ideas">
            <p>Travel Ideas</p>
          </md-button>
        </md-menu-item>
        <md-menu-item flex ng-if="!app.isLoggedIn()">
          <md-button class="md-3-line" href="#register">
            <p>Register</p>
          </md-button>
        </md-menu-item>
        <md-menu-item flex ng-if="app.isLoggedIn()">
          <md-button class="md-3-line" href="#change-user-info">
            <p>Change User Information</p>
          </md-button>
        </md-menu-item>
        <md-menu-item flex ng-if="!app.isLoggedIn()">
          <md-button class="md-3-line" href="#login">
            <p>Login</p>
          </md-button>
        </md-menu-item>
        <md-menu-item flex ng-if="app.isLoggedIn()">
          <md-button class="md-3-line" href="#logout">
            <p>Logout</p>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-sidenav>

    <!-- Container #4 -->
    <md-content flex id="content">
      <div ng-view>
      </div>
    </md-content>

  </div>

  <script src="./jspm_packages/system.js" type="text/javascript"></script>
  <script src="config.js" type="text/javascript"></script>

  <script type="text/javascript">
    System
        .import('src/boot/boot')
        .catch( console.error.bind(console) ); // make sure any errors print to console
  </script>

    <script src="/bundles/jquery?v=FVs3ACwOLIVInrAl5sdzR2jrCDmVOWFbZMY6g6Q0ulE1"></script>
    <script src="/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="/signalr/hubs"></script>


    <script>
	$(function () {
		// Reference the auto-generated proxy for the hub.
		var ideaHub = $.connection.ideaHub;
		// Create a function that the hub can call back to display messages.
		ideaHub.client.newIdea = function (idea) {
		    // See http://stackoverflow.com/a/23648641/4684232 to invoke angular function outside angular scope
		    var bocyScope = angular.element(document.getElementById('bodyId')).scope();
		    if (bocyScope) {
		        bocyScope.showNewItemToast(idea.Author.UserName + " has a new idea! Check it out!");
		    }

		};

		ideaHub.client.newIdeaComment = function (comment) {
		    // See http://stackoverflow.com/a/23648641/4684232 to invoke angular function outside angular scope
		    var bocyScope = angular.element(document.getElementById('bodyId')).scope();
		    if (bocyScope) {
		        bocyScope.showNewItemToast(comment.Author.UserName + " has just posted a new comment.");
		    }
		    //alert("There's a new comment \"" + comment.ContentText + "\" under idea \"" + comment.IdeaId + "\"!");

		    var commentScope = angular.element(document.getElementById('comment-list')).scope();
		    if (commentScope) {
		        commentScope.newCommentArrive(comment);
		    }

		};
		// Start the connection.
		$.connection.hub.start();
	});
	// This optional function html-encodes messages for display in the page.
	function htmlEncode(value) {
		var encodedValue = $('<div />').text(value).html();
		return encodedValue;
	}
    </script>

</body>
</html>
